{% extends 'coursetracker/main.html' %}

{% block content %}

{% load static %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>University Path Explorer</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/search.css' %}" />

</head>
<body>
    <div class="welcome">
        <h1>Explore your passion
        
        </h1>

    </div>

    <div class="wrapper">
        <input type="text" class="input" placeholder="Explore courses" />
        <div class="searchbtn">
            <i class="fas fa-search"></i>
        </div>
    </div>


</body>
</html>

{% endblock %}