{% extends 'coursetracker/main.html' %}

{% block content %}

{% load static %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>University Path Explorer</title>

    <link rel="stylesheet" type="text/css" href="{% static '/css/search.css' %}" />
</head>
<body>
    <div class="description">
        <h3>Welcome to University Path Explorer! Start exploring courses 
        
        </h3>

    </div>

    <form class="form-inline" method="get" action="{% url 'search' %}">
        <div class="wrapper">
            <input type="text" class="input" placeholder="Explore courses" aria-label="Search" name="find"/>
            <button class="searchbtn" type="submit">
                <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>
</body>
</html>

{% endblock %}