#course {
    background-image: url("images/ubc2.png") 50% 0 no-repeat;
}

#course-details {
    background-color: #002145;
}

#prereq{
    background-color: #4a8599;
}

#dependent{
    background-color: #6EC4E8;
}

#navbarNav{
    background-color: #002145;
}

#rmp{
    background-color: #08203a
}

