#course {
    background-image: url("images/ubc2.png") 50% 0 no-repeat;
}

#course-details {
    background-color: #002145;
    padding-bottom: 2em;
    padding-top: 6em;
}

#prereq, #dependent, #rmp {
    background-color: #97D4EA;
    color: black;
}

#navbarNav{
    background-color: #002145;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 2em;
    z-index: 1000;
}

